@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

.App {
  /* https://css-tricks.com/tinted-images-multiple-backgrounds/ */
  background:
    linear-gradient(
      rgba(55, 55, 55, 0.668),
      rgba(0, 0, 0, 0.8)
      /* rgba(250, 96, 0, 0.433) */
    ),
    url(./assets/activity-tunes/water.jpg);

  background-size: cover;
  background-position: center;
  min-height: 100%;
  position: relative;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; centers vertically */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 5em;
  pointer-events: none;
  margin: 1.5em 0em -1em 0em;
}

.title {
  font-family: 'Faster One', bold;
  font-size: 4em;
  text-align: center;
}

.subtitle {
  max-width: 80%;

  font-size: 1em;
  color: #c5c5c5;
  text-align: center;

  margin: 1em 0em 0em 0em;
}