@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;700&display=swap');
/*
color: #fa6000;
color: #1db954
*/

.App {
  /* https://css-tricks.com/tinted-images-multiple-backgrounds/ */
  background:
    linear-gradient(
      rgba(55, 55, 55, 0.668),
      rgba(0, 0, 0, 0.8)
    ),
    url(./assets/activity-tunes/water.jpg);

  background-size: cover;
  background-position: center;
  min-height: 100%;
  position: relative;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; centers vertically */

  font-family: 'Mulish', sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 5em;
  pointer-events: none;
  margin: 1.5em 0em -1em 0em;
}

.title {
  font-family: 'Faster One', sans-serif;
  font-size: 3.5em;
  text-align: center;
}

.subtitle {
  max-width: 80%;

  font-size: 1em;
  color: #c5c5c5;
  text-align: center;

  margin: 1em 0em 0em 0em;
}

/* https://codepen.io/JanickFischr/pen/BYvVqP */
.gradient {
  /* https://coolors.co/gradient-palette/fa6000-ca327b?number=7 */
  background: linear-gradient(-45deg, #FA6000ff, #F25814ff, #EA5129ff, #E2493Eff, #DA4152ff, #D23A67ff, #CA327Bff);
  background-size: 400% 400%;

  animation:          Gradient 15s ease infinite;
  -moz-animation:     Gradient 15s ease infinite;
  -webkit-animation:  Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
}

@-webkit-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
}